@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: "Tactic Sans";
  src: url("shared/assets/fonts/Tactic.Sans/TacticSans-Blk.eot");
  src: local("Tactic Sans"), local("TacticSans-Blk"),
    url("shared/assets/fonts/Tactic.Sans/TacticSans-Blk.eot?#iefix")
      format("embedded-opentype"),
    url("shared/assets/fonts/Tactic.Sans/TacticSans-Blk.woff2") format("woff2"),
    url("shared/assets/fonts/Tactic.Sans/TacticSans-Blk.woff") format("woff"),
    url("shared/assets/fonts/Tactic.Sans/TacticSans-Blk.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Tactic Sans";
  src: url("shared/assets/fonts/Tactic.Sans/TacticSans-BlkIt.eot");
  src: local("Tactic Sans Italic"), local("TacticSans-BlkIt"),
    url("shared/assets/fonts/Tactic.Sans/TacticSans-BlkIt.eot?#iefix")
      format("embedded-opentype"),
    url("shared/assets/fonts/Tactic.Sans/TacticSans-BlkIt.woff2")
      format("woff2"),
    url("shared/assets/fonts/Tactic.Sans/TacticSans-BlkIt.woff") format("woff"),
    url("shared/assets/fonts/Tactic.Sans/TacticSans-BlkIt.ttf")
      format("truetype");
  font-weight: 900;
  font-style: italic;
}
